body{
    /*background: linear-gradient(to center, #ab6c34, #414120);*/
    background: radial-gradient(ellipse at center, #b59a69 0%, #ab6c34 40%, #414120 100%);
    color: rgb(41, 46, 23);
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}
#me{
    width: 100%;
    align-self: center;
}

#setup{
    width: 100%;
    align-self: center;
}

nav{
    background-color: rgb(41, 58, 12);
    width: 100%;
    height: auto;
    position: fixed;
}

footer{
    align-content: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(140, 171, 25);
}

#li1, #li2{
    float:left;
}
#li1{
    width : 20%;
}
#li2{
    width : 20%;
}
#li3, #li4{
    width : 20%;
    float: right;
}

nav a{
    color: rgb(140, 171, 25);
}
nav>ul{
    list-style-type: none;
}

main{
    align-content: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* contact{
    align-items: center;
    align-self: center;
} */

.contact-image {
  width: 40px;
  height: 40px;
  padding: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  /* align-self: center; */
}

.contact-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
  background-color: none;
}

p, li{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 20px;
}
a{
    color: rgb(47, 51, 31);
}
a:not(.contactImage){
    background-color: rgb(29, 41, 8);
    color: rgb(78, 151, 78);
}
ul{
    list-style: none inside none;
}
.scroll-container {
  width: 100%; /* or any fixed width */
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid #ccc;
  padding: 10px;
}

.scroll-content p {
  display: inline-block;
  margin: 0;
  min-width: 800px; /* simulate wide content */
}
@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.scroll-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}


.scroll-content:hover {
  animation-play-state: paused;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {

    nav li{
        margin-bottom: 0;
    }
    
    header>nav{
        display: flex;
        flex-direction: column;
        height:fit-content
    }
    main{
        align-content: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}