body{
    background-color: rgb(240, 242, 236);
    color: rgb(59, 74, 3);
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}
nav{
    background-color: rgb(41, 58, 12);
    width: 100%;
    height: auto;
    position: fixed;
}

footer{
    background-color: rgb(41, 58, 12);
    color: rgb(140, 171, 25);
    width: 100%;
    height: auto;
}

#li1, #li2{
    float:left;
}
#li1{
    width : 20%;
}
#li2{
    width : 20%;
}
#li3, #li4{
    width : 20%;
    float: right;
}
#search{
    float: right;
    padding: 2px;
    background-color: transparent;
}
nav a{
    color: rgb(140, 171, 25);
}
nav>ul{
    list-style-type: none;
}

main{
    align-content: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

p, li{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 20px;
}
a{
    color: rgb(47, 51, 31);
}
a:hover{
    background-color: rgb(29, 41, 8);
    color: rgb(78, 151, 78);
}
#music{
    width: 20px;
    height: 20px;
    background-color: green;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
ul{
    list-style: none inside none;
}


.scroll-container {
  width: 100%; /* or any fixed width */
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid #ccc;
  /*border-radius: 0% 50% 50% 0%;*/
  padding: 10px;
}

.scroll-content p {
  display: inline-block;
  margin: 0;
  min-width: 800px; /* simulate wide content */
}
@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.scroll-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}


.scroll-content:hover {
  animation-play-state: paused;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;

  /* Hide scrollbar for most browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */

  /* Hide scrollbar for Chrome, Safari, and Opera */
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {

    nav li{
        width: 25%;
        padding: 5px;
        margin-bottom: 0;
    }
    header>nav{
        display: flex;
        flex-direction: column;
        height:fit-content
    }
    main{
        align-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}