body{
    background-color: rgb(29, 41, 8);
    color: rgb(169, 197,68);
    
}
header>nav{
    background-color: rgb(41, 58, 12);
    width: 90%;
    height: 50px;
    margin-bottom: 30px;
}
#navLink{
    padding: 100px; 
}
#li1, #li2{
    float:left;
}
#li1{
    margin-right: 50px;
}
#li2{
    margin-left: 150px;
    margin-right: 200px;
}
#li3, #li4{
    float: right;
    margin-right: 150px;
}
#li4{
    margin-right: 150px;
}
#search{
    float: right;
    padding: 2px;
    background-color: transparent;
}
nav>ul{
    list-style-type: none;
}

main{
    align-content: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

p, li{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 20px;
}
a{
    color: rgb(169, 197,68);
}
a:hover{
    background-color: rgb(29, 41, 8);
    color: rgb(6, 59, 6);
    font-size: larger;
}
#music{
    width: 20px;
    height: 20px;
    background-color: green;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}